.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.title {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 6px;
  background-color: #09f;
  color: white;
}

.counter {
  color: red;
}

.button {
  border: none;
  background-color: #09f;
  color: white;
}