main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    font-size: 4rem;
    opacity: .9;
}



input{
    display: block;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.button-form{
    padding: 8px 20px;
    margin: 20px;
    color: black;
    border: none;
    background: linear-gradient(70deg, #4ca1f0, rgba(19, 235, 73, 0.6));
    border-radius: 20px;
}

.button-form:hover{
    cursor: pointer;
    border: 1px solid black;
}

.button-delete{
    padding: 4px 10px;
    margin: 8px;
    color: black;
    border: none;
    background: linear-gradient(260deg, #eb4949, rgba(230, 20, 20, 0.5));
    border-radius: 20px;
}

.button-delete:hover{
    cursor: pointer;
    color: white;
}