.card-title{
    font-size: 4rem;
    opacity: .9;
}

label{
   
}

input{
    display: block;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.button-form{
    padding: 8px 20px;
    margin: 20px;
    color: black;
    border: none;
    background: linear-gradient(70deg, #4ca1f0, rgba(19, 235, 73, 0.6));
    border-radius: 20px;
}

.button-form:hover{
    cursor: pointer;
    border: 1px solid black;
}

