.followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.followCard-info {
  display: flex;
  flex-direction: column;
}

.followCard-infoUser {
  opacity: .6;
}

.followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.followCard-button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}