#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 4em;
}

li{
  list-style: none;
}

.todoapp{
  background-color: aliceblue;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.button-delete{
  background-color: rgb(161, 26, 26);
  border: 1px solid black;
  border-radius: 2px; 
  text-decoration: none;
  margin-left: 12px;
}

.button-delete:hover {
  color: rgb(16, 157, 238);
  cursor: pointer;
}