ul {
    list-style: none;
}

.users-card {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: #01ac99;
}

.container-arrow {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 8px;
}