.container-card {

  border: 2px solid black;
  background: linear-gradient(to right, #2da4de 34%, #0f8fcf 70%);
  text-shadow: 2px 2px 2px rgb(99, 98, 98, 0.8);

  border-radius: 4px;
  width: 180px;
  height: 250px;
  padding: 20px;

  text-align: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  cursor: pointer;

}

.card-pokemon {
  background-color: #aad1eb;
  border: 2px solid black;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;


}