.container-card {
  border: 8px solid #4b5563;
  background: linear-gradient(to right, #e5e7eb 34%, #e5e7eb 70%);
  border-radius: 12px;
  width: 190px;
  height: 260px;
  cursor: pointer;
}


.card-pokemon {
  background-color: #ffffff;
  height: 150px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-imagen {
  width: 170px;
  height: 170px;
}

/*Información de los pokémon (nombre y tipo) */
.container-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  line-height: 1;
  margin-top: 14px;
  margin-left: 12px;
  margin-bottom: 14px;
  gap: 14px;
  position: relative;

}

.card-id {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #374151;
  color: white;
  width: 30px;
  height: 30px;
}

.card-name {
  text-align: start;
  font-weight: bold;
  font-size: 19px;
  font-weight: bold;
  color: #1f2937;
  margin: -5px 0;
}

.card-type {
  color: #6b7280;
  font-size: 14px;
}

/*Información pokémon (tamaño) */

.container-info {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

.card-size {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  background-color: white;
  color: #1f2937;
  font-weight: 550;
}