body {
  margin: 0;
  padding: 0;
  background-color: #99a6fa;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  overflow: hidden;
  
}

.titulo-icono{
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.titulo-icono img{
  margin: 27px 0 0 16px;
  width: 24px;
  height: 24px;
}