.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 24px;
}

.list-title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #879bd1;
  font-size: 32px;
  width: 300px;
  height: 50px;
  border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
}

.list-input {
  border: 1px solid black;
  width: 200px;
  height: 24px;
}

.list-button {
  border: none;
  background-color: #879bd1;
  border: 2px solid #5878ca;
  color: black;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px 16px;
  cursor: pointer;
}

.list-button:hover {
  color: white;
}

