#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-input {
  margin: 24px;
  padding: 2px;
}

.data-climate {
  background-color: rgb(8, 165, 118);
  margin: 12px;
  padding: 12px;
  border-radius: 16px;
}